.details__container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.dash {
  position: absolute;
  width: 38px;
  height: 3px;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
}
.details__heading {
  width: 151px;
  height: 75px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  color: #fff;
  letter-spacing: -0.04em;
}

.details__paragraph {
  width: 731px;
  height: 92px;
  font-family: "Manrope";
  left: 366px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
}
