.flex-details-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.dash {
  width: 38px;
  height: 3px;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
}

.move-up {
  position: relative;
  top: -1rem;
}

.move-down {
  position: relative;
  top: 0.2rem;
}

.flex-details-heading {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-top: 0.5rem;
}

.bigger-heading {
  width: 151px;
  height: 75px;
  font-size: 24px;
  line-height: 75px;
}

.smaller-heading {
  width: 145px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.001em;
}

.flex-details-description {
  width: 721px;
  height: 92px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #81afdd;
}

.smaller-width {
  width: 334px;
  height: 92px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
